<app-sidebar></app-sidebar>

<div class="container-fluid">
    <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <a href="/dashboard" class="text-decoration-none">
              <h5 class="text" style="color: #949494;">
                <i class="fa fa-tachometer" style="color: #c9c9c9; font-size: 15pt;" aria-hidden="true"></i> Dashboard&nbsp; &nbsp;
              </h5>
            </a>
            <a href="/backlogDevelopment" class="text-decoration-none">
              <h5 style="color: #949494;">
                <i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; &nbsp; Add Application
              </h5>
            </a>
        </div>
        <div class="container position-relative" id="main-container">
            <div class="container p-2 border rounded shadow mt-4 mb-4 bg-light">
              <div class="d-flex justify-content-between border-bottom">
                    <h3 class="mx-2 mt-1">Add Application</h3>
                <button class="btn" style="border: none;" (click)="closeApplicationAdd()">
                  <i class="iconx fas fa-times fs-5"></i>
                </button>
              </div>

              <form class="mx-2" [formGroup]="addApplicationForm" (ngSubmit)="onAddApplication()">
                <div class="d-flex flex-row gap-5 justify-content-center mb-4">
                  <div style="width: 600px;">
                    <div class="form-group mt-2">
                      <label for="application_name" class="mb-1 fs-5"><b>Application Name</b></label>
                      <input type="text" name="application_name" class="form-control" id="application_name" formControlName="application_name">
                    </div>

                    <div class="form-group mt-2">
                      <label for="application_short_dsc" class="mb-1 fs-5"><b>Application Short Description</b></label>
                      <textarea type="text" name="application_short_dsc" class="form-control" id="application_short_dsc" formControlName="application_short_dsc"></textarea>
                    </div>

                    <div class="form-group mt-2">
                      <label for="" class="mb-1 fs-5"><b>Application Device</b></label>
                      <hr class="m-0" style="width: 50%;">
                      <div class="container mt-2 d-flex gap-5">
                        <div class="row justify-content-between">
                          <div class="col-xs-5 col-sm-5 form-check">
                            <input class="form-check-input" type="checkbox" value="Web" id="application_device" name="application_device" formControlName="application_device" (change)="onChangeDevice($event)">
                            <label class="form-check-label" for="application_device">
                              <small>Web</small>
                            </label>
                          </div>
                        </div>
                        <div class="row justify-content-between">
                          <div class="col-xs-5 col-sm-5 form-check">
                            <input class="form-check-input" type="checkbox" value="Mobile" id="application_device" name="application_device" formControlName="application_device" (change)="onChangeDevice($event)">
                            <label class="form-check-label" for="application_device">
                              <small>Mobile</small>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group mt-2">
                      <label for="" class="mb-1 fs-5"><b>Application Type</b></label>
                      <hr class="m-0" style="width: 50%;">
                      <div class="container mt-2">
                        <div class="row justify-content-between">
                          <div class="col-xs-5 col-sm-5 form-check" *ngFor="let tp of types">
                            <input class="form-check-input" type="checkbox" [value]="tp.app_type_name" id="application_type" name="application_type" formControlName="application_type" (change)="onChangeType($event)">
                            <label class="form-check-label" for="application_type">
                              <small>{{ tp.app_type_name }}</small>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mt-2">
                      <label for="" class="mb-1 fs-5"><b>Application Programming Language</b></label>
                      <hr class="m-0" style="width: 50%;">
                      <div class="container mt-2">
                        <div class="row justify-content-between">
                          <div class="col-xs-5 col-sm-5 form-check" *ngFor="let progLang of progLangs">
                            <input class="form-check-input" type="checkbox" [value]="progLang.app_prog_lang_name" id="application_programming_language" name="application_programming_language" formControlName="application_programming_language" (change)="onChangeProgLang($event)">
                            <label class="form-check-label" for="application_programming_language">
                              <small>{{ progLang.app_prog_lang_name }}</small>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mt-2">
                      <label for="" class="mb-1 fs-5"><b>Server</b></label>
                      <hr class="m-0" style="width: 50%;">
                      <div class="container mt-2">
                        <div class="row justify-content-between">
                          <div class="col-xs-5 col-sm-5 form-check" *ngFor="let server of servers">
                            <input class="form-check-input" type="checkbox" [value]="server.server_name" id="server" name="server" formControlName="server" (change)="onChangeServer($event)">
                            <label class="form-check-label totip" for="server">
                              <small class="totipText">{{ server.server_name }}</small>
                              <small>{{ server.server_name | slice:0:20 }}..</small>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div style="border-left:1px solid rgb(221, 221, 221);height: 900px" class="my-4"></div>

                  <div style="width: 600px;">
                    <div class="form-group mt-2">
                      <label for="" class="mb-1 fs-5"><b>Application Database</b></label>
                      <hr class="m-0" style="width: 50%;">
                      <div class="container mt-2">
                        <div class="row justify-content-between">
                          <div class="col-xs-5 col-sm-5 form-check" *ngFor="let db of databases">
                            <input class="form-check-input" type="checkbox" [value]="db.app_database_name" id="application_database" name="application_database" formControlName="application_database" (change)="onChangeDatabase($event)">
                            <label class="form-check-label totip" for="application_database">
                              <small class="totipText">{{ db.app_database_name }}</small>
                              <small>{{ db.app_database_name | slice:0:20 }}..</small>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mt-2">
                      <label for="" class="mb-1 fs-5"><b>Application Server</b></label>
                      <hr class="m-0" style="width: 50%;">
                      <div class="container mt-2">
                        <div class="row justify-content-between">
                          <div class="col-xs-5 col-sm-5 form-check" *ngFor="let sv of serversApp">
                            <input class="form-check-input" type="checkbox" [value]="sv.app_server_name" id="application_server" name="application_server" formControlName="application_server" (change)="onChangeAppServer($event)">
                            <label class="form-check-label totip" for="application_server">
                              <small class="totipText">{{ sv.app_server_name }}</small>
                              <small>{{ sv.app_server_name | slice:0:20 }}..</small>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group mt-2">
                      <label for="" class="mb-1 fs-5"><b>Application Operating System</b></label>
                      <hr class="m-0" style="width: 50%;">
                      <div class="container mt-2">
                        <div class="row justify-content-between">
                          <div class="col-xs-5 col-sm-5 form-check" *ngFor="let opS of oprSys">
                            <input class="form-check-input" type="checkbox" [value]="opS.app_op_system_name" id="application_operating_system" name="application_operating_system" formControlName="application_operating_system" (change)="onChangeOprSys($event)">
                            <label class="form-check-label totip" for="application_operating_system">
                              <small class="totipText">{{ opS.app_op_system_name }}</small>
                              <small>{{ opS.app_op_system_name | slice:0:20 }}..</small>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>

                    
                    
                    
                  </div>

                  
                </div>

                <div class="text-right d-flex justify-content-end mt-3 mb-2">
                  <button type="button" class="btn bg-danger text-white" style="border: none;" (click)="closeApplicationAdd()">
                    <i class="fas fa-times"></i> Close
                  </button>

                  <button type="submit" style="background-color: #0abe03; border: none;" class="btn ms-3 text-white">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                  </button>
                </div>
              </form>
              
              <!-- <div class="text-right d-flex justify-content-end mt-3 mb-2">
                <button type="button" class="btn btn-secondary bg-danger" style="border: none;" (click)="closeApplicationAdd()"><i class="fas fa-times"></i> Close</button>
                <button [disabled]="addApplicationForm.invalid || !addApplicationForm.dirty" type="submit" style="background-color: #0abe03; border: none;" class="ms-3 btn btn-primary">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                </button>
              </div> -->
          </div>
        </div>
      </main>
    </div>
  </div>
